.Question{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
   
}

.timeZoneDisplaySection{
    background-image: url('https://img.wallpapersafari.com/desktop/1024/576/16/77/cG8lUy.jpg');
    background-position: center;
    background-size: cover;
    font-size: x-large;
}
.timeDisplaySection{
    background-color: #e2e2e2;
    background-position: center;
    background-size: cover;
    font-size: x-large;
}
.spinners{
    display: none;
}